{
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  },
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-react-jsx"
  ],
  "presets": [
    ["env", {
      "debug": true,
      "exclude": [
        "transform-regenerator"
      ],
      "modules": false,
      "targets": {
        "browsers": [
          "Chrome >= 56",
          "Edge >= 14",
          "Firefox >= 51",
          "iOS >= 10",
          "Safari >= 10"
        ]
      },
      "useBuiltIns": true
    }]
  ]
}
