{
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source"
      ]
    }
  },
  "plugins": [
    "transform-async-to-generator",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-flow-strip-types",
    "transform-react-jsx"
  ]
}
