<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="initial-scale=1.0,width=device-width" name="viewport">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <style>html, body { margin: 0; } abbr { border: none; text-decoration: none; }</style>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
